/* HEADER: This file is managed by puppet.
 * HEADER: It cannot be managed manually, and it is definitely not recommended.
 */
/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* 
* CUSTOMIZED
*/

body {
	margin-top: 90px;
	background-color: ffffff;
	background-image: url('banner.jpg');
	background-repeat: no-repeat;
	color: #333344;
	font-family: "DejaVu sans", Verdana;
	font-size: 10px;
}
h1 {
	font-family: "DejaVu sans", Verdana;
	font-size:16px;
	background-color: #336699;
	color: White;
	padding: 2px;
	padding-left: 5px;
	clear: both;
}
h1 a {
	color: #FFFF99;
}
h2 {
	background-color: #E3ECFF;
	border: none;
	border-bottom: dotted 1px #93A6F9;
	font-size: 12px;
	margin-top: 14px;
	padding:2px;
	padding-left: 10px;
	clear: both;
}
table, th, td {
	font-family: "DejaVu sans", Verdana;
	font-size: 10px;
	border: solid 1px silver;
	border-collapse: collapse;
}
th, thead {
	font-family: "DejaVu sans", Verdana;
	font-size: 10px;
	border: solid 1px silver;
	border-collapse: collapse;
	background-color: #F0F0FF;
	vertical-align: bottom;
}
hr {
	color: white;
	border: dotted 1px #FFF0E0;
	height: 1px;
	margin:1px;
}
ul {
	margin: 0 auto;
	padding: 0;
}
ul#quicklinks-list li {
    text-align: left;
    float: left;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border: 1px solid #CCC;
}
div {
	display: block;
}
div#quicklinks {
	float: right;
}
div#quicklinks > a {
	display: none;
}
div#btnCtrlPanel {
	position: absolute;
	right: 25px;
	top: 30px;
	display: block;
	float: none;
}
div#console {
	border:solid 1px silver; height:500px;overflow:scroll;padding:8px;margin-bottom:10px;
}
div#console pre {
	font-size:+1.1em;padding:0px;margin:0px;
}
div#toolbar {
	position: absolute;
	bottom: 0px; left: 0px;
	Background-Color: #336699;
	width: 100%; height:35px;
	margin: 0px; padding: 0px;
	white-space: nowrap;
}
div#toolbar a {
	position: relative; top: 10px;
	padding-left:15px; padding-right:15px;
	padding-top:2px; padding-bottom:3px;
	margin:0px;
	text-decoration: none;
	border: solid 1px white;
	background-color: #336699;
	color: white;
}
div#toolbar a.disabled {
	border: solid 1px #99B0DD;
	background-color: #336699;a:#93A6F9;
	color: #99B0DD;
	cursor: default;
}
div#toolbar > a:first-child {
	margin-left: 8px;
} 
div#toolbar a:hover {
	text-decoration: underline;
}
div#toolbar a.disabled:hover {
	text-decoration: none;
}
div.acc {
	display: block; float: left;
	margin-bottom:14px;
}
div.hadoopvers {
	width:100%;
	Font-Size:+1.1em;
	border-top:solid 1px #336699;
	padding-top:5px;
	margin-top:15px;
	clear:both;
}
div.hadoopvers pre {
	margin-top:0px;
	color: #336699;
}
input.acc {
	border:solid 1px #336699; Color:#336699; Background-Color: white;
	cursor:pointer;cursor:hand;
	margin:1px;
}
input.acc:hover {
	text-decoration:underline;
}
input.accDisabled {
	border:solid 1px #99CCFF; Color:#99CCFF; Background-Color: white;
	cursor:pointer;cursor:hand;
	margin:1px;
}
/* input[disabled='disabled'].acc, input[disabled='disabled'].acc:hover {
	border: solid 1px silver; color: silver;
	cursor: default;
	margin: 1px;
	text-decoration: none;
} */
input.txthdfs {
	Font-Family:'Courier new';
	Border: none;
	width: 400px;
}
table.accform {
	border: none;a:solid 1px red;
	margin-bottom: 10px;
}
table.accform th {
	padding-right:10px;
	border: solid 1px silver;
	text-align: left;
}
table.accform td {
	border: solid 1px silver;
}
table.accform td select {
	border: solid 1px silver;
	margin: 0px;
	padding-right: 0px;
	padding-left: 2px;
	Font-Size: 12px;
	width: 100%;
}
/* Solo funciona en FF */
table.accform td select option {
	padding: 3px;
}
table.accform td input {
	border: solid 1px silver;
	padding-right: 2px;
	padding-left: 2px;
}
table td.accOkCancel {
	background-color: white;
	text-align: right;
	padding: 5px;
}
table#jobs tr:hover:not(:first-child) {
	background-color: #E9F0FF;
}
table#jobs th, table#jobs td {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
/* ---- HDFS Explorer ---------------- */
ul.ls {
	padding-left:16px;
	margin-left:10px;
}
li.f {
	list-style-image:url('f.gif');
	cursor: pointer;
}
li.d {
	list-style-image:url('d.gif');
	cursor: pointer;
}
li.u {
	list-style-image:url('u.gif');
	cursor: pointer;
}
div.hdfsex {
	position:absolute;top:120px;
	margin-top:0px;
	float:none;
	height:200px;width:98%;
	border: solid 1px silver;
	Background-Color:white;
	overflow:scroll;
}
div.hdfsex#hdfshide {
	display:none;
	Background-Color:white;
	Background-Image:url('progress.gif');background-repeat:no-repeat;background-position:center;
	opacity:0.6;filter:alpha(opacity=60);
	overflow:hidden;
}
div.hdfsex div.path {
	Background-Color: #E3ECFF;
	Color: black;
	Font-Size:+1.1em;
	Font-Weight: bold;
	margin-bottom: 3px;
	padding-bottom: 4px;
	border: none;
	border-bottom: dotted 1px #93A6F9;
}
li.f:hover, li.d:hover, li.u:hover {
	text-decoration: underline;
}
/* ----------------------------------- */
/*
.small {
  font-size : smaller;
}
*/
div#dfsnodetable tr#row1, div#dfstable td#col1 {
	font-weight : bolder;
}

div#dfstable td#col1 {
	vertical-align : top;
}

div#dfstable td#col3 {
	text-align : right;
}
div.ucmain {
	position:relative;
	top:0px;
}
img.uc {
	border:none;
	cursor:pointer;cursor:hand;
	height:192px;
	width:274px;
}
div.uctitle {
	font-size:16px;
	font-weight:bold;
	left:85px;
	position:absolute;
	top:20px;
}
table.main {
	margin-left:auto;
	margin-right:auto;
}
table.main tr {
	vertical-align:top;
}
table.main td {
	background-color:#F9F8F8;
	border:solid 22px white;
}
table.main ul {
	padding-left:16px;
	margin-left:10px;
	Font-Size: 12px;
}
table.main li {
	line-height: 20px;
}
ul.summary {
	padding-left:16px;
	margin-left:10px;
	Font-Size: 12px;
}
ul.summary li {
	line-height: 20px;
}
div.uctip {
	background-color:lightyellow;
	border:solid 1px black;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	position:absolute;
	width:700px;
	top:250px;
	left:350px;
}
/*
div#dfsnodetable caption {
	text-align : left;
}

div#dfsnodetable a#title {
	font-size : larger;
	font-weight : bolder;
}

div#dfsnodetable td, th {
	border-bottom-style : none;
        padding-bottom : 4px;
        padding-top : 4px;       
}

div#dfsnodetable A:link, A:visited {
	text-decoration : none;       
}

div#dfsnodetable th.header, th.headerASC, th.headerDSC {
        padding-bottom : 8px;
        padding-top : 8px;       
}
div#dfsnodetable th.header:hover, th.headerASC:hover, th.headerDSC:hover,
                 td.name:hover {
        text-decoration : underline;
	cursor : pointer;
}

div#dfsnodetable td.blocks, td.size, td.pcused, td.adminstate, td.lastcontact {
	text-align : right;
}

div#dfsnodetable .rowNormal .header {
	background-color : #ffffff;
}
div#dfsnodetable .rowAlt, .headerASC, .headerDSC {
	background-color : lightyellow;
}

.warning {
        font-weight : bolder;
        color : red;	
}

div#dfstable table {
	white-space : pre;
}

div#dfsnodetable td, div#dfsnodetable th, div#dfstable td {
	padding-left : 10px;
	padding-right : 10px;
}

td.perc_filled {
  background-color:#AAAAFF;
}

td.perc_nonfilled {
  background-color:#FFFFFF;
}

line.taskgraphline {
  stroke-width:1;stroke-linecap:round;  
}

#quicklinks {
	margin: 0;
	padding: 2px 4px;
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	background-color: #eee;
	font-weight: bold;
}

#quicklinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: normal;
}

#quicklinks ul {
	display: none;
}

#quicklinks a {
	font-size: smaller;
	text-decoration: none;
}

#quicklinks ul a {
	text-decoration: underline;
}
*/
